#----------------------------------
# IAR build and output folders
#----------------------------------
**/Debug/
**/Release/
**/Obj/
**/List/
**/Output/
**/BrowseInfo/

#----------------------------------
# IAR generated (temporary) files
#----------------------------------
*.dep
*.pbd
*.pbi
*.pbw
*.xcl
*.dnx
*.dbgdt
*.crun
*.wsdt
*.map
*.lst
*.srec
*.elf
*.hex
*.bin
*.bak

#----------------------------------
# Ignore user-specific or debug configs
#----------------------------------
*.ewd
*.ewd2
*.ewd3
*.ewt
**/settings/

#----------------------------------
# System files
#----------------------------------
.DS_Store
Thumbs.db